@import './common.less';
.tip-box {
    height: 72px;
}
.tip {
    float: left;
    margin: 15px 0;
    font-size: 30px;
    color: darkorange;
}
.main-content{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.sub {
    padding: 100px 10px 10px 10x;
    width: 300px;
}
.sub-name {
    padding: 10px 0 20px;
    font-size: 25px;
    color: seagreen;
}
.rate-box {
    padding: 0 12px;
}
.chinese-situation {
    padding: 0 20px 15px;
    height: 200px;
    background-color: coral;
    border-radius: 10px;
}
.math-situation {
    padding: 0 20px 15px;
    height: 300px;
    background-color: indianred;
    border-radius: 10px;
}
.english-situation {
    padding: 0 20px 15px;
    height: 250px;
    background-color: cadetblue;
    border-radius: 10px;
}
a {
    text-decoration: none;
}
.player {
    text-align: center;
}
#rate {
    font-size: 30px;
    font-weight: 500;
    color: #FFFFFF;
}
.player-icon a {
    width: 18px;
    height: 18px;
    background: url('img/timg.jpeg');
}
.remind {
    float: left;
    padding: 10px 0 0 22px;
}
.finished {
    float: left;
}
.unfinished {
    float: left;
}
.footer {
    padding: 250px 200px 10px 30px;
    font-size: 30px;
    float: left;
    color: #5F9EA0;
}
