.main-wrapper{
	height: 700px;
	padding: 50px 0;
	float: left;
}
.re-things{
	float: left;
	font-size: 20px;
}
.resin-words{
	height: 200px;
	width: 900px;
}
.word-span{
	height: 30px;
}
.sin-words{
	float: left;
	padding: 15px 25px 15px 0;
}
.sin-words img{
	padding: 0 15px 0 0;
}
.re-words{
	height: 150px;
}
.re-sentences{
	height: 200px;
	padding: 10px 0 0 0;
}
.true-words{
	padding: 10px 0 10px 0;
	height: 50px;
	float: left;
	font-size: 30px;
}
.true-sentences{
	padding: 10px 0 0 0;
	height: 100px;
	float: left;
	font-size: 20px;
}