.poem-header {
  height: 60px;
  width: 900px;
  padding: 20px 0 0 0;
  float: left;
}
.poem-header .title {
  font-size: 25px;
  float: left;
}
.poem-header .author {
  float: left;
}
.poem-content {
  height: 600px;
  width: 900px;
  float: left;
}
.poem-content .sentence {
  float: left;
  font-size: 40px;
  font-family: '楷体';
}
.poem-content .sentence .note {
  float: left;
  color: #999999;
  font-size: 20px;
}
